<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Produtos cadastrados
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only  (click)="sincronizarProdutos()">
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  
  <!-- <ion-card *ngIf="produtosEmpresa.length === 0"  >
     
    <ion-card-content>
      <ion-card-title>
        Não há produtos contabilizados 
      </ion-card-title>
      
    </ion-card-content>
  </ion-card> -->


    <ion-list>
        <button ion-item *ngFor="let produto of produtosEmpresa" (click)="atualizarProduto(produto)">        
            <h2> {{produto.descricao}} </h2>
            <h3> Código de barras: {{produto.codbarra}} | Unidade: {{produto.un}} </h3>
        </button>  
    </ion-list>

    

</ion-content>
