page-sobre {
    .sobre {
        margin: -19px -8px -9px -17px;
        width: 112%;
        height: 107%;
        background-image: url(/assets/img/sobre.png);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
