<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Produtos contabilizados
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only  (click)="sincronizarProdutos()" *ngIf="produtosContabilizados.length !== 0">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  
  <ion-card *ngIf="produtosContabilizados.length === 0"  >
     
    <ion-card-content>
      <ion-card-title>
        Não há produtos contabilizados 
      </ion-card-title>
      
    </ion-card-content>
  </ion-card>


    
        <button ion-item *ngFor="let produto of produtosContabilizados" (click)="atualizarProduto(produto)">        
            <ion-avatar item-end>            
                <button ion-fab mini>    {{produto.qtd}} </button>
            </ion-avatar>
            <h2> {{produto.produto.descricao}} </h2>
            <p>Código de produto: {{produto.produto.id}} </p>
        </button>  
    

    

</ion-content>
